{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->

<head>

	<meta charset="utf-8">

	<title>doBase | Create Account</title>
	<meta name="description" content="">

	<link rel="shortcut icon" href="{% static 'img/favicon/favicon.ico' %}" type="image/x-icon">
	<link rel="apple-touch-icon" href="{% static 'img/favicon/apple-touch-icon.png' %}">
	<link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/favicon/apple-touch-icon-72x72.png' %}">
	<link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/favicon/apple-touch-icon-114x114.png' %}">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

	<script src="https://kit.fontawesome.com/8682e796b5.js" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="{% static 'libs/bootstrap4/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'libs/bootstrap4/css/bootstrap-grid.min.css' %}">
	<link rel="stylesheet" href="{% static 'libs/animate/animate.css' %}">


<!--	<link rel="stylesheet" href="css/main.min.css">-->
	<link rel="stylesheet" href="{% static 'css/main.css' %}">


	<script src="{% static 'libs/modernizr/modernizr.js' %}"></script>

</head>

<body>
	<div id="main-container" class="login dark-theme"> 
		<div class="container hero-content">
			<div class="row">
				<div class="col-12">
					<div class="width-wrapper">
						<div class="control-width d-flex flex-column align-items-center justify-content-center">
							<a href="{% url 'home' %}" class="hero-title black-color fw-700">doBase</a>
						</div>
					</div>
				</div>
				<div class="col-12">
					<div class="tab-content" id="">
							<div class="width-wrapper">
								{% if form.errors %}
									{% for error in form.non_field_errors %}
										<div class="alert alert-primary">
											<strong>{{ error|escape }}</strong>
										</div>
									{% endfor %}
								{% endif %}

								<form method="POST" action="{% url 'signup' %}" class="hero-form control-width">
									{% csrf_token %}
									{% for field in form.visible_fields %}
										{% if field.html_name == 'email' %}
											{% if field.errors %}
												{% for error in field.errors %}
													<div class="alert alert-primary">
														<strong>{{ error|escape }}</strong>
													</div>
												{% endfor %}
											{% endif %}
											<input type="email" class="standard-form-input" placeholder="Email" id="{{ field.id_for_label }}" name="{{ field.html_name }}">
										{% elif field.html_name == 'password1' %}
											{% if field.errors %}
												{% for error in field.errors %}
													<div class="alert alert-primary">
														<strong>{{ error|escape }}</strong>
													</div>
												{% endfor %}
											{% endif %}
											<input type="password" class="standard-form-input" placeholder="Password" id="{{ field.id_for_label }}" name="{{ field.html_name }}">
										{% else %}
											{% if field.errors %}
												{% for error in field.errors %}
													<div class="alert alert-primary">
														<strong>{{ error|escape }}</strong>
													</div>
												{% endfor %}
											{% endif %}
											<input type="password" class="standard-form-input" placeholder="Confirm Password" id="{{ field.id_for_label }}" name="{{ field.html_name }}">
										{% endif %}
									{% endfor %}

									<div class="button-wrapper d-flex w-100 mt-0">
										<button type="submit" class="mt-0 w-100 fw-500 standard-description button blue-button">Create Account</button>
									</div>
								</form>
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>



	<div class="loader">
		<div class="loader_inner"></div>
	</div>

	<!--[if lt IE 9]>
	<script src="libs/html5shiv/es5-shim.min.js"></script>
	<script src="libs/html5shiv/html5shiv.min.js"></script>
	<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
	<script src="libs/respond/respond.min.js"></script>
	<![endif]-->
	
	<script src="{% static 'libs/jquery/jquery-1.11.2.min.js' %}"></script>
	<script src="{% static 'libs/waypoints/waypoints.min.js' %}"></script>
	<script src="{% static 'libs/animate/animate-css.js' %}"></script>
	<script src="{% static 'libs/bootstrap4/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'libs/plugins-scroll/plugins-scroll.js' %}"></script>
	
	<script src="{% static 'js/common.js' %}"></script>

	
</body>
</html>