html.js .loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999; }
  html.js .loader .loader_inner {
    background-image: url("../img/preloader.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    left: 50%;
    top: 50%;
    position: absolute; }

html {
  height: 100%;
  min-height: 100%; }

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  margin: 0; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

a {
  text-decoration: none;
  color: #282828; }
  a:hover {
    text-decoration: none;
    color: #282828; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style-type: none; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0; }

button {
  border: none; }
  button:focus {
    border: none;
    outline: none; }

.black-color {
  color: #282828; }

.hero-title {
  font-size: 60px;
  line-height: 73px; }

.fw-500 {
  font-weight: 500; }

.fw-700 {
  font-weight: 700; }

.middle-description {
  font-size: 18px;
  line-height: 19px; }

.standard-description {
  font-size: 20px;
  line-height: 24px; }

.medium-description {
  font-size: 24px;
  line-height: 28px; }

.button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 8px; }
  .button.high {
    height: 50px; }
  .button.gray-button {
    background-color: #949494;
    color: #fff; }
  .button.black-button {
    background-color: #282828;
    color: #fff; }

.hide-scroll::-webkit-scrollbar {
  width: 0px;
  background: transparent; }

.ui-helper-hidden-accessible {
  display: none; }

#main-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: background .15s linear;
  -o-transition: background .15s linear;
  transition: background .15s linear;
  min-height: 100vh; }
  #main-container.black-theme {
    -webkit-transition: background .15s linear;
    -o-transition: background .15s linear;
    transition: background .15s linear;
    background: #a5d0cf; }
    #main-container.black-theme #side-bar {
      -webkit-transition: background .15s linear;
      -o-transition: background .15s linear;
      transition: background .15s linear;
      background: #a5d0cf; }
    #main-container.black-theme .button.gray-button {
      background-color: #282828; }
    #main-container.black-theme .nav-tabs .nav-item .nav-link.active {
      background-color: #282828; }
    #main-container.black-theme .nav-tabs .nav-item:first-of-type .nav-link {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      border-top: 1px solid #949494;
      border-left: 1px solid #949494;
      border-bottom: 1px solid #949494; }
    #main-container.black-theme .nav-tabs .nav-item:last-of-type .nav-link {
      border-left: 0;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      border-top: 1px solid #949494;
      border-right: 1px solid #949494;
      border-bottom: 1px solid #949494; }
    #main-container.black-theme .nav-tabs .nav-item.active {
      border: 0; }
    #main-container.black-theme .hero-content .hero-form .form-block-wrapper .followWrap {
      background-color: transparent; }
      #main-container.black-theme .hero-content .hero-form .form-block-wrapper .followWrap .followMeBar2.fixed {
        background-color: #a5d0cf; }
    #main-container.black-theme .hero-content .hero-form .form-block .form-check-input[type=checkbox] + label.form-check-label {
      border: 1px solid #282828; }
    #main-container.black-theme .hero-content .hero-form .form-block .form-check-input[type=checkbox]:checked + label.form-check-label {
      border: 1px solid #282828; }
      #main-container.black-theme .hero-content .hero-form .form-block .form-check-input[type=checkbox]:checked + label.form-check-label:after {
        background-color: #282828; }
    #main-container.black-theme .hero-content .hero-form .standard-form-input {
      border: 1px solid #949494;
      color: #282828; }
      #main-container.black-theme .hero-content .hero-form .standard-form-input::-webkit-input-placeholder {
        color: #282828; }
      #main-container.black-theme .hero-content .hero-form .standard-form-input::-moz-placeholder {
        color: #282828; }
      #main-container.black-theme .hero-content .hero-form .standard-form-input:-ms-input-placeholder {
        color: #282828; }
      #main-container.black-theme .hero-content .hero-form .standard-form-input::-ms-input-placeholder {
        color: #282828; }
      #main-container.black-theme .hero-content .hero-form .standard-form-input::placeholder {
        color: #282828; }
    #main-container.black-theme .hero-content .hero-form .standard-form-textarea {
      border: 1px solid #949494; }
      #main-container.black-theme .hero-content .hero-form .standard-form-textarea::-webkit-input-placeholder {
        color: #282828; }
      #main-container.black-theme .hero-content .hero-form .standard-form-textarea::-moz-placeholder {
        color: #282828; }
      #main-container.black-theme .hero-content .hero-form .standard-form-textarea:-ms-input-placeholder {
        color: #282828; }
      #main-container.black-theme .hero-content .hero-form .standard-form-textarea::-ms-input-placeholder {
        color: #282828; }
      #main-container.black-theme .hero-content .hero-form .standard-form-textarea::placeholder {
        color: #282828; }
    #main-container.black-theme .width-wrapper .control-width.tasks-panel {
      -webkit-transition: all .15s linear;
      -o-transition: all .15s linear;
      transition: all .15s linear;
      background-color: #a5d0cf; }
  #main-container .width-wrapper .control-width .hero-title {
    margin-bottom: 25px; }
  #main-container .width-wrapper .control-width .nav-tabs {
    margin-top: 50px;
    width: 100%; }

.side-bar-wrapper {
  position: relative;
  width: 100%;
  max-width: 350px;
  z-index: 1000;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start; }

#side-bar {
  position: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 70px 40px 50px;
  width: 100%;
  left: 0;
  max-width: 350px;
  height: 100vh;
  border-right: 1px solid rgba(47, 53, 66, 0.2);
  background-color: #fff;
  -webkit-transition: background .15s linear;
  -o-transition: background .15s linear;
  transition: background .15s linear; }
  #side-bar.with-indent .hero-title {
    margin-bottom: 55px; }
  #side-bar.with-indent .bottom-block .button {
    margin-bottom: 80px; }
  #side-bar .hero-title {
    display: block;
    text-align: center; }
  #side-bar .nav-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    #side-bar .nav-menu li a {
      padding: 8px 0; }
    #side-bar .nav-menu li:last-of-type {
      margin-bottom: 0px; }
    #side-bar .nav-menu .icon {
      display: block;
      text-align: center;
      width: 28px;
      margin-right: 8px; }
      #side-bar .nav-menu .icon i {
        font-size: 20px;
        color: #282828; }
    #side-bar .nav-menu a {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      font-weight: 600;
      color: #282828; }

.nav-tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  border-radius: 8px;
  margin: 0;
  border: none; }
  .nav-tabs .nav-item {
    width: 50%;
    margin-bottom: 0; }
    .nav-tabs .nav-item:first-of-type .nav-link {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      border-top: 1px solid rgba(47, 53, 66, 0.2);
      border-left: 1px solid rgba(47, 53, 66, 0.2);
      border-bottom: 1px solid rgba(47, 53, 66, 0.2); }
    .nav-tabs .nav-item:last-of-type .nav-link {
      border-left: 0;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      border-top: 1px solid rgba(47, 53, 66, 0.2);
      border-right: 1px solid rgba(47, 53, 66, 0.2);
      border-bottom: 1px solid rgba(47, 53, 66, 0.2); }
    .nav-tabs .nav-item.active {
      border: 0; }
    .nav-tabs .nav-item .nav-link {
      border-radius: 0;
      background-color: #ffffff;
      height: 46px;
      padding: 0; }
      .nav-tabs .nav-item .nav-link.active {
        background-color: #282828;
        color: #fff; }

.hero-content {
  width: 100%; }
  .hero-content .width-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .hero-content .width-wrapper .control-width {
      width: 100%;
      max-width: 380px; }
      .hero-content .width-wrapper .control-width .signUp {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-top: 25px; }
        .hero-content .width-wrapper .control-width .signUp a {
          font-weight: 600; }
      .hero-content .width-wrapper .control-width.wider {
        max-width: 600px; }
      .hero-content .width-wrapper .control-width.checkboxes-wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end; }
  .hero-content .nav-tabs {
    margin-bottom: 50px; }
  .hero-content .hero-form input {
    border: none; }
    .hero-content .hero-form input:focus {
      border: 1px solid #adafb8;
      outline: none;
      -webkit-box-shadow: none;
      box-shadow: none; }
  .hero-content .hero-form textarea {
    border: none; }
    .hero-content .hero-form textarea:focus {
      outline: none;
      border: 1px solid #adafb8;
      -webkit-box-shadow: none;
      box-shadow: none; }
  .hero-content .hero-form .form-block-wrapper {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end; }
    .hero-content .hero-form .form-block-wrapper .followWrap {
      position: relative;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 100%; }
    .hero-content .hero-form .form-block-wrapper .followMeBar,
    .hero-content .hero-form .form-block-wrapper .followMeBar2 {
      padding: 10px 0 10px 0; }
      .hero-content .hero-form .form-block-wrapper .followMeBar.fixed,
      .hero-content .hero-form .form-block-wrapper .followMeBar2.fixed {
        position: fixed;
        padding-left: 15px;
        padding-right: 15px;
        top: 0;
        width: -webkit-calc(100% - 350px);
        width: calc(100% - 350px);
        right: 0;
        background-color: #fff;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        z-index: 150;
        border-bottom: 1px solid #6b6b6b57; }
        .hero-content .hero-form .form-block-wrapper .followMeBar.fixed.absolute,
        .hero-content .hero-form .form-block-wrapper .followMeBar2.fixed.absolute {
          position: absolute;
          width: 100%;
          top: 0 !important; }
    .hero-content .hero-form .form-block-wrapper .followMeBar2.fixed {
      z-index: 200; }
    .hero-content .hero-form .form-block-wrapper .form-block-head {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      width: 100%;
      max-width: 600px; }
    .hero-content .hero-form .form-block-wrapper.first-line {
      margin-bottom: 35px; }
      .hero-content .hero-form .form-block-wrapper.first-line > .form-block {
        margin-bottom: 20px; }
    .hero-content .hero-form .form-block-wrapper.second-line {
      max-width: 570px;
      margin-top: 5px;
      margin-bottom: 10px; }
      .hero-content .hero-form .form-block-wrapper.second-line .form-block {
        margin-bottom: 15px; }
      .hero-content .hero-form .form-block-wrapper.second-line .title.hero {
        font-weight: 600;
        font-size: 32px;
        line-height: 36px; }
    .hero-content .hero-form .form-block-wrapper.third-line {
      max-width: 530px; }
      .hero-content .hero-form .form-block-wrapper.third-line .form-block {
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        margin-bottom: 10px; }
      .hero-content .hero-form .form-block-wrapper.third-line .title {
        width: 100%;
        max-width: 70%; }
        .hero-content .hero-form .form-block-wrapper.third-line .title.hero {
          font-weight: 400;
          font-size: 18px;
          line-height: 26px; }
      .hero-content .hero-form .form-block-wrapper.third-line .date {
        font-weight: 300;
        font-size: 12px;
        line-height: 16px;
        margin-right: 10px; }
  .hero-content .hero-form .form-block {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    margin-bottom: 10px; }
    .hero-content .hero-form .form-block.line-through .title {
      text-decoration: line-through; }
    .hero-content .hero-form .form-block .title.hero {
      font-size: 40px;
      line-height: 44px;
      color: #282828;
      font-weight: 700; }
    .hero-content .hero-form .form-block .checkbox-block {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
    .hero-content .hero-form .form-block .form-check-input[type=checkbox] {
      display: none; }
    .hero-content .hero-form .form-block .form-check-input[type=checkbox] + label.form-check-label {
      position: relative;
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      width: 24px;
      height: 24px;
      border: 1px solid #949494; }
    .hero-content .hero-form .form-block .form-check-input[type=checkbox]:checked + label.form-check-label:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #949494; }
    .hero-content .hero-form .form-block .form-check-input[type=checkbox]:checked + label.form-check-label::before {
      content: '';
      position: absolute;
      z-index: 100;
      left: 7px;
      top: 1px;
      width: 8px;
      height: 15px;
      border: solid #ffffff;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
  .hero-content .hero-form .standard-form-input {
    font-family: 'Montserrat', sans-serif;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    border: 1px solid #949494;
    background-color: #fff;
    border-radius: 8px;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none; }
    .hero-content .hero-form .standard-form-input::-webkit-input-placeholder {
      font-size: 18px;
      color: #282828;
      outline: none;
      -webkit-appearance: none;
      -moz-appearance: none; }
    .hero-content .hero-form .standard-form-input::-moz-placeholder {
      font-size: 18px;
      color: #282828;
      outline: none;
      -webkit-appearance: none;
      -moz-appearance: none; }
    .hero-content .hero-form .standard-form-input:-ms-input-placeholder {
      font-size: 18px;
      color: #282828;
      outline: none;
      -webkit-appearance: none;
      -moz-appearance: none; }
    .hero-content .hero-form .standard-form-input::-ms-input-placeholder {
      font-size: 18px;
      color: #282828;
      outline: none;
      -webkit-appearance: none;
      -moz-appearance: none; }
    .hero-content .hero-form .standard-form-input::placeholder {
      font-size: 18px;
      color: #282828;
      outline: none;
      -webkit-appearance: none;
      -moz-appearance: none; }
  .hero-content .hero-form .standard-form-textarea {
    font-family: 'Montserrat', sans-serif;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    min-height: 150px;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    border: 1px solid #949494;
    background-color: #fff;
    border-radius: 8px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none; }
    .hero-content .hero-form .standard-form-textarea::-webkit-input-placeholder {
      font-size: 18px;
      color: #282828;
      outline: none;
      -webkit-appearance: none;
      -moz-appearance: none; }
    .hero-content .hero-form .standard-form-textarea::-moz-placeholder {
      font-size: 18px;
      color: #282828;
      outline: none;
      -webkit-appearance: none;
      -moz-appearance: none; }
    .hero-content .hero-form .standard-form-textarea:-ms-input-placeholder {
      font-size: 18px;
      color: #282828;
      outline: none;
      -webkit-appearance: none;
      -moz-appearance: none; }
    .hero-content .hero-form .standard-form-textarea::-ms-input-placeholder {
      font-size: 18px;
      color: #282828;
      outline: none;
      -webkit-appearance: none;
      -moz-appearance: none; }
    .hero-content .hero-form .standard-form-textarea::placeholder {
      font-size: 18px;
      color: #282828;
      outline: none;
      -webkit-appearance: none;
      -moz-appearance: none; }
  .hero-content .hero-form .standard-form-input,
  .hero-content .hero-form .standard-form-textarea {
    margin-bottom: 25px; }
  .hero-content .hero-form .button {
    margin-top: 40px; }
  .hero-content .hero-form .standard-select-wrapper {
    position: relative;
    margin-bottom: 25px; }
    .hero-content .hero-form .standard-select-wrapper .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
      border-width: 0 6px 8px 6px;
      border-color: transparent transparent #282828; }
    .hero-content .hero-form .standard-select-wrapper .select2-container {
      left: 0 !important; }
      .hero-content .hero-form .standard-select-wrapper .select2-container .select2-dropdown {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px; }
      .hero-content .hero-form .standard-select-wrapper .select2-container .select2-results .select2-results__options {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px; }
        .hero-content .hero-form .standard-select-wrapper .select2-container .select2-results .select2-results__options .select2-results__option {
          min-width: 33.33%;
          font-size: 16px;
          font-family: 'Montserrat', sans-serif;
          font-weight: 500;
          padding: 8px 16px; }
          .hero-content .hero-form .standard-select-wrapper .select2-container .select2-results .select2-results__options .select2-results__option.select2-results__option--highlighted {
            background-color: #282828; }
  .hero-content .hero-form .custom-standard-select {
    border: 1px solid #949494;
    height: initial;
    border-radius: 8px;
    padding: 0;
    outline: none; }
    .hero-content .hero-form .custom-standard-select.select2-selection--multiple .select2-selection__rendered {
      padding-top: 10px;
      padding-bottom: 0; }
      .hero-content .hero-form .custom-standard-select.select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
        margin-bottom: 8px; }
    .hero-content .hero-form .custom-standard-select .select2-selection__rendered {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      font-size: 18px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      color: #282828;
      padding: 8px 16px; }
      .hero-content .hero-form .custom-standard-select .select2-selection__rendered .select2-selection__choice {
        margin: 0 10px 0 0; }
    .hero-content .hero-form .custom-standard-select .select2-search--inline {
      display: none; }
    .hero-content .hero-form .custom-standard-select .select2-selection__arrow {
      height: 100%;
      top: 0;
      width: 40px; }
      .hero-content .hero-form .custom-standard-select .select2-selection__arrow b {
        border-width: 8px 6px 0 6px;
        border-color: #282828 transparent transparent; }
    .hero-content .hero-form .custom-standard-select .select2-selection__placeholder {
      color: #282828; }
  .hero-content .hero-form .standard-form-search.open input[type="search"] {
    border-bottom: none;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; }
  .hero-content .hero-form .standard-form-search input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 1em;
    width: 1em;
    border-radius: 50em;
    background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;
    background-size: contain;
    opacity: 0;
    pointer-events: none; }
  .hero-content .hero-form .standard-form-search input[type="search"]:focus::-webkit-search-cancel-button {
    opacity: .3;
    pointer-events: all; }
  .hero-content .hero-form .standard-form-search .ui-menu {
    position: absolute !important;
    background-color: #fff;
    border: 1px solid #949494;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px; }
    .hero-content .hero-form .standard-form-search .ui-menu li {
      padding: 8px 16px;
      font-family: 'Montserrat', sans-serif;
      font-size: 16px;
      font-weight: 500;
      -webkit-transition: all .2s linear;
      -o-transition: all .2s linear;
      transition: all .2s linear; }
      .hero-content .hero-form .standard-form-search .ui-menu li:last-of-type {
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px; }
      .hero-content .hero-form .standard-form-search .ui-menu li:hover {
        background-color: #949494;
        color: #fff;
        -webkit-transition: all .2s linear;
        -o-transition: all .2s linear;
        transition: all .2s linear;
        cursor: pointer; }

.footer-menu {
  position: fixed;
  bottom: 0;
  width: 100%; }
  .footer-menu.top-block {
    top: 0;
    bottom: initial; }
    .footer-menu.top-block ul {
      border-top: none;
      border-bottom: 1px solid rgba(47, 53, 66, 0.2); }
  .footer-menu.black-theme ul {
    -webkit-transition: all .15s linear;
    -o-transition: all .15s linear;
    transition: all .15s linear;
    background-color: #a5d0cf; }
  .footer-menu ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    border-top: 1px solid rgba(47, 53, 66, 0.2);
    background-color: #fff;
    -webkit-transition: all .15s linear;
    -o-transition: all .15s linear;
    transition: all .15s linear; }
    .footer-menu ul li {
      width: 100%;
      max-width: 25%;
      border-right: 1px solid rgba(47, 53, 66, 0.2); }
      .footer-menu ul li:last-of-type {
        border-right: none; }
      .footer-menu ul li a {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 15px;
        height: 100%; }
        .footer-menu ul li a .icon.show {
          display: none; }
        .footer-menu ul li a.added-active {
          background-color: #1e7e34; }
          .footer-menu ul li a.added-active .icon.hide {
            display: none; }
          .footer-menu ul li a.added-active .icon.show {
            display: block; }
          .footer-menu ul li a.added-active .icon i {
            color: #ffffff; }
          .footer-menu ul li a.added-active .text {
            color: #ffffff; }
        .footer-menu ul li a .icon {
          font-size: 18px;
          margin-bottom: 5px; }
        .footer-menu ul li a .text {
          font-weight: 600;
          font-size: 18px;
          line-height: 19px; }

.hidden {
  display: none; }

/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .standard-description {
    font-size: 18px;
    line-height: 22px; }
  .medium-description {
    font-size: 22px;
    line-height: 25px; }
  .button.high {
    height: 46px; }
  .side-bar-wrapper {
    max-width: 280px; }
  #side-bar {
    padding: 50px 20px 50px;
    max-width: 280px; }
    #side-bar.with-indent .hero-title {
      margin-bottom: 35px; }
  .hero-title {
    font-size: 54px;
    line-height: 60px; }
  .nav-tabs .nav-item .nav-link {
    height: 42px; }
  .hero-content .hero-form .form-block-wrapper.first-line .form-block-head .title.hero {
    font-size: 38px;
    line-height: 42px; }
  .hero-content .hero-form .form-block-wrapper.second-line {
    max-width: 600px; }
    .hero-content .hero-form .form-block-wrapper.second-line > .form-block {
      padding-left: 30px; }
      .hero-content .hero-form .form-block-wrapper.second-line > .form-block .title.hero {
        font-size: 30px;
        line-height: 34px; }
  .hero-content .hero-form .form-block-wrapper.third-line {
    max-width: 600px; }
    .hero-content .hero-form .form-block-wrapper.third-line > .form-block {
      padding-left: 60px; }
      .hero-content .hero-form .form-block-wrapper.third-line > .form-block .title.hero {
        font-size: 17px; }
    .hero-content .hero-form .form-block-wrapper.third-line .date {
      font-size: 11px;
      line-height: 14px; }
  .hero-content .hero-form .form-block-wrapper .followMeBar.fixed,
  .hero-content .hero-form .form-block-wrapper .followMeBar2.fixed {
    width: -webkit-calc(100% - 280px);
    width: calc(100% - 280px); } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .hero-title {
    font-size: 48px;
    line-height: 56px; }
  .side-bar-wrapper {
    max-width: 250px; }
  #side-bar {
    padding: 50px 15px 50px;
    max-width: 250px; }
  .hero-content .hero-form .form-block-wrapper.first-line .form-block-head .title.hero {
    font-size: 35px;
    line-height: 40px; }
  .hero-content .hero-form .form-block-wrapper.second-line {
    max-width: 590px; }
    .hero-content .hero-form .form-block-wrapper.second-line > .form-block {
      padding-left: 15px; }
      .hero-content .hero-form .form-block-wrapper.second-line > .form-block .title.hero {
        font-size: 28px;
        line-height: 32px; }
  .hero-content .hero-form .form-block-wrapper.third-line {
    max-width: 580px; }
    .hero-content .hero-form .form-block-wrapper.third-line > .form-block {
      padding-left: 40px; }
      .hero-content .hero-form .form-block-wrapper.third-line > .form-block .title.hero {
        font-size: 16px; }
  .hero-content .hero-form .form-block-wrapper .followMeBar.fixed,
  .hero-content .hero-form .form-block-wrapper .followMeBar2.fixed {
    width: -webkit-calc(100% - 250px);
    width: calc(100% - 250px); }
  /*Disable Animation on Mobile Devices*/
  .animated {
    /*CSS transitions*/
    -o-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    animation: none !important; } }

@media only screen and (max-width: 680px) {
  .side-bar-wrapper {
    display: none; }
  .h-100 {
    height: 100%; }
  #main-container.top-stick {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    height: 100%;
    min-height: 100%; }
    #main-container.top-stick .hero-content {
      height: 100%; }
      #main-container.top-stick .hero-content .hero-form .standard-form-input {
        font-size: 16px;
        padding: 6px 12px;
        margin-bottom: 15px; }
        #main-container.top-stick .hero-content .hero-form .standard-form-input::-webkit-input-placeholder {
          font-size: 16px; }
        #main-container.top-stick .hero-content .hero-form .standard-form-input::-moz-placeholder {
          font-size: 16px; }
        #main-container.top-stick .hero-content .hero-form .standard-form-input:-ms-input-placeholder {
          font-size: 16px; }
        #main-container.top-stick .hero-content .hero-form .standard-form-input::-ms-input-placeholder {
          font-size: 16px; }
        #main-container.top-stick .hero-content .hero-form .standard-form-input::placeholder {
          font-size: 16px; }
      #main-container.top-stick .hero-content .hero-form .standard-form-textarea {
        font-size: 16px;
        padding: 6px 12px;
        min-height: 80px;
        margin-bottom: 15px; }
        #main-container.top-stick .hero-content .hero-form .standard-form-textarea::-webkit-input-placeholder {
          font-size: 16px; }
        #main-container.top-stick .hero-content .hero-form .standard-form-textarea::-moz-placeholder {
          font-size: 16px; }
        #main-container.top-stick .hero-content .hero-form .standard-form-textarea:-ms-input-placeholder {
          font-size: 16px; }
        #main-container.top-stick .hero-content .hero-form .standard-form-textarea::-ms-input-placeholder {
          font-size: 16px; }
        #main-container.top-stick .hero-content .hero-form .standard-form-textarea::placeholder {
          font-size: 16px; }
      #main-container.top-stick .hero-content .hero-form .standard-form-search .ui-menu {
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px; }
        #main-container.top-stick .hero-content .hero-form .standard-form-search .ui-menu li {
          padding: 6px 12px;
          font-size: 15px; }
    #main-container.top-stick .width-wrapper .control-width .nav-tabs {
      width: 100%;
      max-width: 250px;
      margin-top: 40px;
      margin-bottom: 30px; }
      #main-container.top-stick .width-wrapper .control-width .nav-tabs .nav-item .nav-link {
        height: 38px;
        font-size: 17px;
        line-height: 19px; }
  #main-container.black-theme .width-wrapper .control-width.tasks-panel .nav-tabs .nav-item:first-of-type .nav-link {
    background-color: #eeeeef; }
  #main-container .width-wrapper .control-width.tasks-panel {
    position: fixed;
    z-index: 450;
    top: 0;
    padding: 30px 15px 20px;
    background-color: #fff;
    -webkit-transition: all .15s linear;
    -o-transition: all .15s linear;
    transition: all .15s linear;
    width: 100%;
    max-width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    #main-container .width-wrapper .control-width.tasks-panel .nav-tabs {
      max-width: 300px;
      width: 100%;
      margin: 0;
      left: 0;
      background-color: #fff;
      z-index: 300;
      display: -webkit-box !important;
      display: -webkit-flex !important;
      display: -ms-flexbox !important;
      display: flex !important;
      border: none; }
      #main-container .width-wrapper .control-width.tasks-panel .nav-tabs .nav-item:last-of-type .nav-link {
        border-top: 1px solid #dee2e6;
        border-right: 1px solid #dee2e6;
        border-bottom: 1px solid #dee2e6; }
      #main-container .width-wrapper .control-width.tasks-panel .nav-tabs .nav-item:first-of-type .nav-link {
        border-top: 1px solid #dee2e6;
        border-left: 1px solid #dee2e6;
        border-bottom: 1px solid #dee2e6; }
      #main-container .width-wrapper .control-width.tasks-panel .nav-tabs .nav-item .nav-link.active {
        border: none; }
  .nav-tabs .nav-item:first-of-type .nav-link {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px; }
  .nav-tabs .nav-item:last-of-type .nav-link {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px; }
  .hero-content .width-wrapper .control-width .signUp {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .hero-content .width-wrapper .control-width.checkboxes-wrapper {
    padding-top: 0; }
  .hero-content .hero-form .button-wrapper {
    /* display: none; */
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .hero-content .hero-form .button {
    margin-top: 0px; }
  .hero-content .hero-form .standard-form-input,
  .hero-content .hero-form .standard-form-textarea {
    border-radius: 4px; }
  .hero-content .hero-form .form-block-wrapper .followMeBar.fixed,
  .hero-content .hero-form .form-block-wrapper .followMeBar2.fixed {
    top: 92px;
    width: 100%; }
  .hero-content .hero-form .form-block-wrapper .first-line:last-of-type {
    margin-bottom: 80px; }
  .footer-menu ul li a {
    padding: 10px; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .hero-content .hero-form .form-block-wrapper.first-line .form-block.followMeBar {
    margin-bottom: 5px; }
  .hero-content .hero-form .form-block-wrapper.first-line .form-block-head .title.hero {
    font-size: 30px;
    line-height: 40px; }
  .hero-content .hero-form .form-block-wrapper.second-line > .form-block .title.hero {
    font-size: 26px;
    line-height: 32px; }
  .hero-content .hero-form .form-block-wrapper.third-line > .form-block {
    padding-left: 30px;
    margin-bottom: 8px; }
    .hero-content .hero-form .form-block-wrapper.third-line > .form-block .title.hero {
      font-size: 15px; }
  .footer-menu ul li a {
    padding: 8px; }
    .footer-menu ul li a .icon {
      margin-bottom: 0px; }
    .footer-menu ul li a .text {
      font-size: 16px;
      line-height: 18px; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 680px) {
  .hero-content .width-wrapper .control-width.checkboxes-wrapper {
    padding-top: 100px !important; }
  .footer-menu {
    display: none; } }

@media only screen and (min-width: 768px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .hero-content .width-wrapper .control-width.checkboxes-wrapper {
    padding-top: 120px !important; } }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }
