a {
  text-decoration: none !important; }

#main-container .side-bar-wrapper {
  display: none; }

.footer-menu {
  display: none; }

.hero-content .mobile-nav {
  display: none !important; }

.common-list-body .common-list-title {
  background-color: #32BEEC; }

.common-list-body .list-item .control-side .control-block {
  display: none !important; }

.common-list-body .list-item.wrapper-notice-snippet {
  display: none; }
