
@import "vars"

html.js .loader
	background: none repeat scroll 0 0 $dark-blue-color
	bottom: 0
	height: 100%
	left: 0
	position: fixed
	right: 0
	top: 0
	width: 100%
	z-index: 9999
	.loader_inner
		background-image: url("../img/preloader.gif")
		background-size: cover
		background-repeat: no-repeat
		background-position: center center
		background-color: transparent
		height: 150px
		width: 150px
		margin-top: -30px
		margin-left: -30px
		left: calc(50% - 75px)
		top: calc(50% - 75px)
		position: absolute

html
	//height: 100%
	//min-height: 100%

body
	font-family: 'Montserrat', sans-serif
	font-weight: normal
	font-size: 14px
	min-width: 320px
	position: relative
	line-height: 1.6
	-webkit-font-smoothing: antialiased
	overflow-x: hidden
	margin: 0

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: red
body input:required:valid,
body textarea:required:valid
	color: green

@import "settings"

#main-container
	display: flex
	flex-direction: row
	justify-content: flex-end
	align-items: flex-start
	transition: background .15s linear
	min-height: 100%
	height: 100%
	//login page
	&.login
		flex-direction: column
		justify-content: center
		background-color: $dark-blue-color
		height: 100vh
		.hero-title
			color: $white-color
			margin-bottom: 70px
		.button-wrapper
			margin-top: 10px
	&.black-theme
		transition: background .15s linear
		background: #a5d0cf
		#side-bar
			transition: background .15s linear
			background: #a5d0cf
		.button
			&.gray-button
				background-color: $black-color
		.nav-tabs .nav-item .nav-link
			&.active
				background-color: #282828
		.nav-tabs
			.nav-item
				&:first-of-type
					.nav-link
						border-top-left-radius: 8px
						border-bottom-left-radius: 8px
						border-top: 1px solid $gray-black-color
						border-left: 1px solid $gray-black-color
						border-bottom: 1px solid $gray-black-color
				&:last-of-type
					.nav-link
						border-left: 0
						border-top-right-radius: 8px
						border-bottom-right-radius: 8px
						border-top: 1px solid $gray-black-color
						border-right: 1px solid $gray-black-color
						border-bottom: 1px solid $gray-black-color
				&.active
					border: 0
	#side-bar
		.hero-content
		.width-wrapper
			.control-width
				&.tasks-panel
					transition: all .15s linear
					background-color: #a5d0cf
	.hero-form .standard-form-input,
	.hero-form .standard-form-textarea
		margin-bottom: 20px
.hero-form
	.form-block-wrapper
		.followWrap
			background-color: transparent
			.followMeBar2
				&.fixed
					background-color: #a5d0cf
	.form-block
		.form-check-input[type=checkbox] + label.form-check-label
			border: 1px solid $black-color
		.form-check-input[type=checkbox]:checked + label.form-check-label
			border: 1px solid $black-color
			&:after
				background-color: $black-color
	.standard-form-input
		border: 1px solid $gray-black-color
		color: $black-color
		&::-webkit-input-placeholder
			color: $black-color
		&:-moz-placeholder
			color: $black-color
		&::-moz-placeholder
			color: $black-color
		&:-ms-input-placeholder
			color: $black-color
		&::placeholder
			color: $black-color
	.standard-form-textarea
		border: 1px solid $gray-black-color
		&::-webkit-input-placeholder
			color: $black-color
		&:-moz-placeholder
			color: $black-color
		&::-moz-placeholder
			color: $black-color
		&:-ms-input-placeholder
			color: $black-color
		&::placeholder
			color: $black-color


		//.hero-content .hero-form
		//	.standard-form-input,
		//	.standard-form-textarea
		//		border: 1px solid $black-color
	.width-wrapper
		.control-width
			.hero-title
				margin-bottom: 25px
			.nav-tabs
				margin-top: 50px
				width: 100%
.side-bar-wrapper
	position: relative
	//width: 100%
	min-width: 475px
	z-index: 1000
	align-self: flex-start
#side-bar
	position: fixed
	display: flex
	flex-direction: column
	justify-content: space-between
	align-items: center
	padding: 70px 15px 40px
	width: 100%
	left: 0
	max-width: 475px
	height: 100vh
	background-color: $dark-blue-color
	transition: background .15s linear
	&.with-indent
		.hero-title
			margin-bottom: 55px

		.bottom-block
			.button
				margin-bottom: 80px

.common-list-body,
.side-bar-block
	.top-block,
	.bottom-block
		width: 100%
		max-width: 385px
	.standard-text
		font-weight: 500
		font-size: 16px
		letter-spacing: .4px
		&.active
			font-weight: 600
	.switch-wrapper
		display: flex
		flex-direction: row
		justify-content: center
		align-items: center
		margin: 25px 0
	.common-menu
		li
			display: flex
			padding: 20px 0
			&:last-of-type
				border-bottom: none!important
				padding-bottom: 0
			a
				display: flex
				flex-direction: row
				align-items: center
				justify-content: flex-start
				.icon
					display: inline-flex
					justify-content: center
					align-items: center
					width: 30px
					margin-right: 5px
	.hero-title
		display: block
		text-align: center
		color: $white-color
		margin-bottom: 70px
		letter-spacing: .7px
	.nav-menu
		display: flex
		flex-direction: column
		//align-self: center
		//margin-top: 150px
		li
			a
				padding: 8px 0
			&:last-of-type
				margin-bottom: 0px
		.icon
			display: block
			text-align: center
			width: 28px
			margin-right: 8px
			i
				font-size: 20px
				color: $black-color
		a
			display: flex
			flex-direction: row
			align-items: center
			font-weight: 600
			color: $black-color

#main-container
	&.dark-theme
		#side-bar
			.standard-text
				color: rgba(255,255,255,.5)
				&.active
					color: $white-color
			.common-menu
				li
					border-bottom: 1px solid rgba(255,255,255,.3)
					a
						.icon
							svg
								path,
								circle
									stroke: rgba(255,255,255,.5)
		.hero-form
			.standard-form-input
				border: 1px solid $white-color
				color: rgba(255,255,255,1)
				&::-webkit-input-placeholder
					color: rgba(255,255,255,1)
				&:-moz-placeholder
					color: rgba(255,255,255,1)
				&::-moz-placeholder
					color: rgba(255,255,255,1)
				&:-ms-input-placeholder
					color: rgba(255,255,255,1)
				&::placeholder
					color: rgba(255,255,255,1)
			.standard-form-textarea
				border: 1px solid $white-color
				color: rgba(255,255,255,1)
				&::-webkit-input-placeholder
					font-size: 16px
					color: rgba(255,255,255,1)
				&:-moz-placeholder
					font-size: 16px
					color: rgba(255,255,255,1)
				&::-moz-placeholder
					font-size: 16px
					color: rgba(255,255,255,1)
				&:-ms-input-placeholder
					font-size: 16px
					color: rgba(255,255,255,1)
				&::placeholder
					font-size: 16px
					color: rgba(255,255,255,1)
			.standard-form-search
				&.open
					input[type="search"]
						border-bottom: none
						border-bottom-right-radius: 0
						border-bottom-left-radius: 0

				input[type="search"]::-webkit-search-cancel-button
					-webkit-appearance: none
					height: 1em
					width: 1em
					border-radius: 50em
					background-img: none
					//background-color: $white-color
					background-size: contain
					opacity: 0
					pointer-events: none
				//background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%

				input[type="search"]:focus::-webkit-search-cancel-button
					opacity: 0
					pointer-events: all

				.ui-menu
					position: absolute!important
					//width: 100%!important
					background-color: $white-color
					border: 1px solid $white-color
					border-bottom-left-radius: 8px
					border-bottom-right-radius: 8px
					li
						padding: 13px 20px 14px 18px
						font-family: 'Montserrat', sans-serif
						font-size: 16px
						font-weight: 500
						transition: all .2s linear
						&:last-of-type
							border-bottom-left-radius: 6px
							border-bottom-right-radius: 6px
						&:hover
							background-color: $dark-blue-color
							color: $white-color
							transition: all .2s linear
							cursor: pointer
	&.light-theme
		#side-bar
			background-color: #F1FAFE
			.hero-title
				color: rgba(4, 33, 47, 1)
			.standard-text
				color: rgba(4, 33, 47, .6)
				&.active
					color: rgba(4, 33, 47, 1)
		.hero-form
			.standard-form-input
				border: 1px solid rgba(4, 33, 47, 1)
				color: rgba(4, 33, 47, 1)
				&::-webkit-input-placeholder
					color: rgba(4, 33, 47, 1)
				&:-moz-placeholder
					color: rgba(4, 33, 47, 1)
				&::-moz-placeholder
					color: rgba(4, 33, 47, 1)
				&:-ms-input-placeholder
					color: rgba(4, 33, 47, 1)
				&::placeholder
					color: rgba(4, 33, 47, 1)
			.standard-form-textarea
				border: 1px solid rgba(4, 33, 47, 1)
				color: rgba(4, 33, 47, 1)
				&::-webkit-input-placeholder
					color: rgba(4, 33, 47, 1)
				&:-moz-placeholder
					color: rgba(4, 33, 47, 1)
				&::-moz-placeholder
					color: rgba(4, 33, 47, 1)
				&:-ms-input-placeholder
					color: rgba(4, 33, 47, 1)
				&::placeholder
					color: rgba(4, 33, 47, 1)
		.common-menu
			li
				border-bottom: 1px solid rgba(4, 33, 47, .3)
				a
					&.standard-text
						color: rgba(4, 33, 47, .7)
					.icon
						svg
							path,
							circle
								stroke: rgba(4, 33, 47, .7)
		.common-list-body
			.common-list-title
				background-color: rgba(196, 232, 250, .5)
				color: $dark-blue-color


.wrapper-tasks-panel
	display: flex
	flex-direction: row
	justify-content: space-between
	padding: 80px 0
	.tasks-panel
		display: flex
		flex-direction: column
		flex-grow: 1
		&:last-of-type
			display: flex
			flex-grow: 0
			.nav
				display: flex
				flex-direction: row
				justify-content: flex-end
	.tasks-panel-title
		font-size: 20px
		margin-bottom: 10px
		color: rgba(4, 33, 47, .4)
		&.active
			color: #04212F
	.nav
		margin-bottom: 0!important
		border-top: 1px solid rgba(4, 33, 47, .5)
		border-bottom: none
		.nav-item
			padding-top: 10px
			margin-right: 35px
			&:last-of-type
				margin-right: 0
			.nav-link
				border: none
				padding: 0
				font-size: 16px
				color: rgba(4, 33, 47, .4)
				font-weight: 500
				&.active
					color: #04212F
					font-weight: 600

.common-list-body
	.common-list-title
		font-weight: 600
		font-size: 28px
		padding: 12px 24px
		background-color: $blue-color
		color: $white-color
		border-radius: 6px
		position: relative
		width: calc(100% + 24px)
		left: -24px
		margin-bottom: 23px
	.common-list-subtitle
		font-size: 22px
		font-weight: 600
		color: #04212F
		padding-top: 20px
		padding-bottom: 20px
		border-top: 1px solid rgba(10, 32, 53, .2)
		border-bottom: 1px solid rgba(10, 32, 53, .2)
	.common-list-small-subtitle
		font-size: 14px
		line-height: 21px
		font-weight: 600
		margin-bottom: 8px
		color: rgba(0, 0, 0, .5)
	.common-list-description
		font-size: 18px
		line-height: 27px
		font-weight: 500
		color: #04212F
		margin-bottom: 0
	.bottom-small-description
		font-size: 16px
		font-weight: 500
		color: rgba(4, 33, 47, .6)
		margin-bottom: 0
	.date-snippet
		background-color: #C4E8FA
		padding: 6px 14px
		border-radius: 6px
		opacity: .5
		font-weight: 500
		font-size: 13px
		line-height: 15px
		margin-bottom: 0
		margin-right: 20px
	.text-snippet
		font-size: 11px
		line-height: 13px
		font-weight: 600
		letter-spacing: .5px
		color: rgba(10, 32, 53, .5)
		margin-bottom: 0
		padding: 5px 12px 6px
		margin-right: 25px
		border: 1px solid rgba(10, 32, 53, .5)
		border-radius: 6px
		margin-left: 0
	.common-list-description+.bottom-block
		margin-top: 5px
	.item-block
		display: flex
		flex-direction: column
		padding-right: 10px
		margin-bottom: 22px
		&:first-of-type
			.common-list-subtitle
				border-top: none!important
				padding-top: 0
		.slider-button
			height: 100%
			display: flex
			flex-direction: row
			align-items: center
			justify-content: center
			padding: 0 24px
			font-size: 20px
			font-weight: 600
		.swiper-wrapper
			display: flex
			.list-item
				margin-bottom: 0
		.swiper-slide
			height: initial
			.form-check-input[type=checkbox] + label.form-check-label
				width: 13px
				height: 13px
			.form-check-input[type=checkbox]:checked + label.form-check-label
				&::before
					width: 3px
					height: 8px
				&::after
					width: 13px
					height: 13px
	.list-item
		display: flex
		flex-direction: column
		margin-top: 20px
		&.control-arrow
			.content-side
				justify-content: space-between
			.control-side
				.control-block
					align-items: flex-end
					.control-top-block
						display: flex
						flex-direction: row
						align-items: center
						margin-bottom: 20px

		&.wrapper-notice-snippet
			margin-top: 0
		.notice-snippet
			display: flex
			flex-direction: row
			align-items: center
			margin-top: 0
			padding-top: 12px
			padding-bottom: 14px
		.simple-text-snippet
			display: inline-flex
			font-size: 14px
			font-weight: 600
			padding: 7px 16px 8px
			border-radius: 6px
			letter-spacing: .5px
			margin-bottom: 0
			margin-right: 15px
		.triangle-text-snippet
			position: relative
			display: inline-flex
			font-size: 14px
			font-weight: 600
			padding: 7px 16px 8px
			border-top-left-radius: 6px
			border-bottom-left-radius: 6px
			margin-bottom: 0
			letter-spacing: .5px
			margin-right: 30px
			&::after,
			&::before
				content: ""
				position: absolute
				top: 50%
				margin-top: -19px
				border-top: 19px solid transparent
				border-bottom: 18px solid transparent
				border-left: 15px solid
				right: -15px
				border-radius: -10px
		.notice-text
			font-size: 14px
			font-weight: 500
			color: rgba(255, 255, 255, .5)
			margin-bottom: 0
		&.bigger-top-indent
			margin-top: 35px
			flex-direction: column
			&:first-of-type
				margin-top: 0
			&:last-of-type
				margin-bottom: 45px
		//&:last-of-type
		//	margin-bottom: 35px
		.top-block
			display: flex
			flex-direction: row
			align-items: flex-start
			max-width: 100%
		.bottom-block
			display: flex
			flex-direction: row
			justify-content: flex-start
			flex-wrap: wrap
			align-items: center
			padding-left: 10px
			max-width: 100%
			.bottom-small-description
				margin-right: 25px
			.date-snippet
				//&:first-of-type
				//	margin-left: 25px
			.date-wrapper
				display: flex
				flex-direction: row
			.text-snippet
				display: none
		.content-side
			width: 100%
			display: flex
			flex-direction: column
			align-items: flex-start
			padding-right: 30px
		.control-side
			display: flex
			flex-direction: row
			justify-content: flex-end
			align-items: flex-start
			.control-block
				padding-top: 4px
				display: flex
				flex-direction: row
				align-items: center
			.icon
				display: flex
				width: 20px
				height: 20px
				flex-direction: row
				align-items: center
				justify-content: center

				svg
					path
						stroke: #8C9196
			a
				margin-left: 30px
	.line-block
		display: flex
		flex-direction: row
		align-items: flex-start


//.nav-tabs
//	display: flex
//	flex-direction: row
//	border-radius: 8px
//	margin: 0
//	border: none
//	.nav-item
//		width: 50%
//		margin-bottom: 0
//		&:first-of-type
//			.nav-link
//				border-top-left-radius: 8px
//				border-bottom-left-radius: 8px
//				border-top: 1px solid rgba(47, 53, 66, 0.2)
//				border-left: 1px solid rgba(47, 53, 66, 0.2)
//				border-bottom: 1px solid rgba(47, 53, 66, 0.2)
//		&:last-of-type
//			.nav-link
//				border-left: 0
//				border-top-right-radius: 8px
//				border-bottom-right-radius: 8px
//				border-top: 1px solid rgba(47, 53, 66, 0.2)
//				border-right: 1px solid rgba(47, 53, 66, 0.2)
//				border-bottom: 1px solid rgba(47, 53, 66, 0.2)
//		&.active
//			border: 0
//		.nav-link
//			border-radius: 0
//			background-color: #ffffff
//			height: 46px
//			padding: 0
//			&.active
//				background-color: #282828
//				color: $white-color


.hero-content
	width: 100%

	.width-wrapper
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
		.control-width
			width: 100%
			max-width: 380px
			.sign-up
				color: $blue-color
				display: inline-block
			.signUp
				display: flex
				flex-direction: row
				justify-content: center
				margin-top: 20px
				//a
				//	font-weight: 600
                //color: $gray-black-color
			&.wider
				max-width: 600px
			&.checkboxes-wrapper
				display: flex
				flex-direction: column
				align-items: flex-end
	.nav-tabs
		margin-bottom: 50px

	.mobile-nav
		padding: 45px 0 22px
		display: flex
		flex-direction: row
		justify-content: center
		.buttons-wrapper
			display: flex
			flex-direction: row
			align-items: center
			max-width: 240px
			.button
				padding: 8px 26px 9px
				font-size: 16px
				font-weight: 500
				width: 50%
				border-radius: initial
				border: 1px solid $white-color
				color: $white-color
				&:first-of-type
					border-top-left-radius: 23px
					border-bottom-left-radius: 23px
				&:last-of-type
					border-top-right-radius: 23px
					border-bottom-right-radius: 23px
				&.active
					background-color: $white-color
					color: #04212F
.footer-menu
	position: fixed
	bottom: 0
	width: 100%
	.wrapper-tasks-panel
		padding: 0
		.tasks-panel
			margin-bottom: 0
			.nav
				border-top: none
			.nav-tabs
				.nav-item
					width: 20%
					margin-right: 0
					padding: 0
					.nav-link
						padding-top: 17px
						padding-bottom: 23px
						background: transparent
						.icon
							&.full-color
								display: none
						&.active
							.icon
								display: none
								&.full-color
									display: block
	&.top-block
		top: 0
		bottom: initial
		ul
			border-top: none
			border-bottom: 1px solid rgba(47, 53, 66, 0.2)
	&.black-theme
		ul
			transition: all .15s linear
			background-color: #a5d0cf
	ul
		display: flex
		flex-direction: row
		transition: all .15s linear
		li
			width: 100%
			&:last-of-type
				border-right: none
			a
				display: flex
				flex-direction: column
				align-items: center
				justify-content: center
				padding: 15px
				height: 100%
				.icon
					&.show
						display: none
				&.added-active
					background-color: #1e7e34
					.icon
						&.hide
							display: none
						&.show
							display: block
						i
							color: #ffffff
					.text
						color: #ffffff
				.icon
					font-size: 18px
					margin-bottom: 5px
				.text
					font-weight: 600
					font-size: 13px
					line-height: 16px

.hidden
	display: none



@import "media"