{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->

<head>

	<meta charset="utf-8">

	<title>doBase</title>
	<meta name="description" content="">

	<link rel="shortcut icon" href="{% static 'img/favicon/favicon.ico' %}" type="image/x-icon">
	<link rel="apple-touch-icon" href="{% static 'img/favicon/apple-touch-icon.png' %}">
	<link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/favicon/apple-touch-icon-72x72.png' %}">
	<link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/favicon/apple-touch-icon-114x114.png' %}">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

	<script src="https://kit.fontawesome.com/8682e796b5.js" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="{% static 'libs/bootstrap4/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'libs/bootstrap4/css/bootstrap-grid.min.css' %}">

	<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="{% static 'libs/animate/animate.css' %}">


<!--	<link rel="stylesheet" href="css/main.min.css">-->
	<link rel="stylesheet" href="{% static 'css/main.css' %}">


	<script src="{% static 'libs/modernizr/modernizr.js' %}"></script>

</head>

<body class="h-100 hide-scroll" id="hide-scroll">
	<div id="main-container" class="top-stick">
		<div class="side-bar-wrapper">
			<div id="side-bar" class="side-bar-block">
				<div class="top-block">
					<a href="{% url 'home' %}" class="hero-title black-color fw-700">doBase</a>
				</div>
				<ul class="nav-menu">
					<li><a class="standard-description" href="{% url 'view-tasks' %}"><span class="icon"><i class="fas fa-user"></i></span>Me</a></li>
					<li><a class="standard-description" href="{% url 'view-tasks' %}"><span class="icon"><i class="fas fa-users"></i></span>Others</a></li>
					<li><a class="standard-description" href="{% url 'view-tasks' %}"><span class="icon"><i class="fas fa-calendar-alt"></i></span>Date</a></li>
				</ul>
				<div class="bottom-block text-center">
					<a href="{% url 'logout' %}?next=/accounts/login/" class="medium-description fw-700">Log Out</a>
				</div>
			</div>
		</div>
		<div class="container hero-content">
			<div class="row">
				<div class="col-12">
					<div class="width-wrapper">
						<div class="control-width d-flex flex-column align-items-center">
							<ul class="nav nav-tabs" id="hero-content-tabs" role="tablist">
								<li class="nav-item" role="presentation">
									<a class="nav-link standard-description button fw-500 high active" id="work-tab" data-toggle="tab" href="#work" role="tab" aria-controls="work" aria-selected="true">Work</a>
								</li>
								<li class="nav-item" role="presentation">
									<a class="nav-link standard-description button fw-500 high" id="personal-tab" data-toggle="tab" href="#personal" role="tab" aria-controls="personal" aria-selected="false">Personal</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-12">
					<div class="tab-content" id="">
						<div class="tab-pane fade show active" id="work" role="tabpanel" aria-labelledby="work-tab">
							<div class="width-wrapper">
								<form method="POST" class="hero-form control-width">
									{% csrf_token %}
									{% for field in form.visible_fields %}
										{% if field.errors %}
											{% for error in field.errors %}
												<div class="alert alert-danger">
													<strong>{{ error|escape }}</strong>
												</div>
											{% endfor %}
										{% endif %}
										{% if field.html_name == 'task_description' %}
												{{f}}
											<textarea class="standard-form-textarea" placeholder="{{ field.label }}" name="{{ field.html_name }}"></textarea>
										{% elif field.html_name == 'task_type' %}
											<input type="search" id="work_{{ field.html_name}}" class="standard-form-input" placeholder="{{ field.label }}" name="{{ field.html_name }}" value=1 hidden>
										{% else %}
											<div class="standard-form-search" id="search-wrp-work-{{ field.html_name}}">
												<input type="search" id="work_{{ field.html_name}}" class="standard-form-input" placeholder="{{ field.label }}" name="{{ field.html_name }}">
											</div>
										{% endif %}
									{% endfor %}
									<div class="button-wrapper">
										<button type="submit" class="w-100 fw-500 standard-description button black-button high">Add</button>
									</div>
								</form>
							</div>
						</div>
						<div class="tab-pane fade" id="personal" role="tabpanel" aria-labelledby="personal-tab">
							<div class="width-wrapper">
								<form method="POST" class="hero-form control-width">
									{% csrf_token %}
									{% for field in form.visible_fields %}
										{% if field.errors %}
											{% for error in field.errors %}
												<div class="alert alert-danger">
													<strong>{{ error|escape }}</strong>
												</div>
											{% endfor %}
										{% endif %}
										{% if field.html_name == 'task_description' %}
												{{f}}
											<textarea class="standard-form-textarea" placeholder="{{ field.label }}" name="{{ field.html_name }}"></textarea>
										{% elif field.html_name == 'task_type' %}
											<input type="search" id="personal_{{ field.html_name}}" class="standard-form-input" placeholder="{{ field.label }}" name="{{ field.html_name }}" value=2 hidden>
										{% else %}
											<div class="standard-form-search" id="search-wrp-personal-{{ field.html_name}}">
												<input type="search" id="personal_{{ field.html_name}}" class="standard-form-input" placeholder="{{ field.label }}" name="{{ field.html_name }}">
											</div>
										{% endif %}
									{% endfor %}
									<div class="button-wrapper">
										<button type="submit" class="w-100 fw-500 standard-description button black-button high">Add</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="footer-menu">
		<ul>

			<li><a href="{% url 'view-tasks' %}">
				<span class="icon"><i class="fas fa-user" aria-hidden="true"></i></span>
				<span class="text">Me</span>
			</a></li>
			<li><a href="{% url 'view-tasks' %}">
				<span class="icon">
					<i class="fas fa-users" aria-hidden="true"></i>
				</span>
				<span class="text">Other</span>
			</a></li>
			<li><a href="{% url 'view-tasks' %}">
				<span class="icon">
					<i class="fas fa-calendar-alt" aria-hidden="true"></i>
				</span>
				<span class="text">Date</span>
			</a></li>
			<li><a href="{% url 'home' %}" class="add">
				<span class="icon hide"><i class="fas fa-plus" aria-hidden="true"></i></span>
				<span class="icon show"><i class="fas fa-check"></i></span>
				<span class="text">Add</span></a></li>
		</ul>
	</div>


	<div class="loader">
		<div class="loader_inner"></div>
	</div>

	<!--[if lt IE 9]>
	<script src="libs/html5shiv/es5-shim.min.js"></script>
	<script src="libs/html5shiv/html5shiv.min.js"></script>
	<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
	<script src="libs/respond/respond.min.js"></script>
	<![endif]-->
	
	<script src="{% static 'libs/jquery/jquery-1.11.2.min.js' %}"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="{% static 'libs/waypoints/waypoints.min.js' %}"></script>
	<script src="{% static 'libs/animate/animate-css.js' %}"></script>
	<script src="{% static 'libs/bootstrap4/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'libs/plugins-scroll/plugins-scroll.js' %}"></script>
	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
	
	<script src="{% static 'js/common.js' %}"></script>

	<script>
		$(document).ready(function() {


			// $('.add').click(function (e) {
			// 	e.preventDefault();
			// 	$(this).toggleClass('added-active');
			// })

			var workProjectTags = [];
			{% for tag in auto_work_projects %}
      			workProjectTags.push(`{{ tag|safe }}`);
    		{% endfor %}
			var workGoalTags = [];
			{% for tag in auto_work_goals %}
      			workGoalTags.push(`{{ tag|safe }}`);
    		{% endfor %}
			var workPeopleTags = [];
			{% for tag in auto_work_people %}
      			workPeopleTags.push(`{{ tag|safe }}`);
    		{% endfor %}

			var personalProjectTags = [];
			{% for tag in auto_personal_projects %}
      			personalProjectTags.push(`{{ tag|safe }}`);
    		{% endfor %}
			var personalGoalTags = [];
			{% for tag in auto_personal_goals %}
      			personalGoalTags.push(`{{ tag|safe }}`);
    		{% endfor %}
			var personalPeopleTags = [];
			{% for tag in auto_personal_people %}
      			personalPeopleTags.push(`{{ tag|safe }}`);
    		{% endfor %}

			$("input#work_project_name").autocomplete({
				source: workProjectTags,
				appendTo: "#search-wrp-work-project_name",
				open: function( event, ui ) {
					$('#search-wrp-work-project_name').addClass('open');
				},
				close: function( event, ui ) {
					$('#search-wrp-work-project_name').removeClass('open');
				}
			});
			$("input#work_goal_name").autocomplete({
				source: workGoalTags,
				appendTo: "#search-wrp-work-goal_name",
				open: function( event, ui ) {
					$('#search-wrp-work-goal_name').addClass('open');
				},
				close: function( event, ui ) {
					$('#search-wrp-work-goal_name').removeClass('open');
				}
			});
			$("input#work_task_owner").autocomplete({
				source: workPeopleTags,
				appendTo: "#search-wrp-work-task_owner",
				open: function( event, ui ) {
					$('#search-wrp-work-task_owner').addClass('open');
				},
				close: function( event, ui ) {
					$('#search-wrp-work-task_owner').removeClass('open');
				}
			});
			$("input#personal_project_name").autocomplete({
				source: personalProjectTags,
				appendTo: "#search-wrp-personal-project_name",
				open: function( event, ui ) {
					$('#search-wrp-personal-project_name').addClass('open');
				},
				close: function( event, ui ) {
					$('#search-wrp-personal-project_name').removeClass('open');
				}
			});
			$("input#personal_goal_name").autocomplete({
				source: personalGoalTags,
				appendTo: "#search-wrp-personal-goal_name",
				open: function( event, ui ) {
					$('#search-wrp-personal-goal_name').addClass('open');
				},
				close: function( event, ui ) {
					$('#search-wrp-personal-goal_name').removeClass('open');
				}
			});
			$("input#personal_task_owner").autocomplete({
				source: personalPeopleTags,
				appendTo: "#search-wrp-personal-task_owner",
				open: function( event, ui ) {
					$('#search-wrp-personal-task_owner').addClass('open');
				},
				close: function( event, ui ) {
					$('#search-wrp-personal-task_owner').removeClass('open');
				}
			});


			var parent = document.getElementById('hide-scroll');
			var child = document.getElementById('main-container');
			child.style.paddingRight = child.offsetWidth - child.clientWidth + "px";


			$('.basic-multiple').select2({
				dropdownParent: $('#basic-multiple-wrp1'),
				minimumResultsForSearch: Infinity,
				placeholder: "Project",
				// tags: true,
				selectionCssClass: 'custom-standard-select',
				dropdownAutoWidth: true,
				width: "100%",
				sorter: data => data.sort((a, b) => a.text.localeCompare(b.text)),
			});
			$('.basic-multiple-2').select2({
				dropdownParent: $('#basic-multiple-wrp2'),
				minimumResultsForSearch: Infinity,
				placeholder: "Goal",
				tags: true,
				selectionCssClass: 'custom-standard-select',
				dropdownAutoWidth: true,
				width: "100%",
				sorter: data => data.sort((a, b) => a.text.localeCompare(b.text)),
			});
			$('.basic-multiple-3').select2({
				dropdownParent: $('#basic-multiple-wrp3'),
				minimumResultsForSearch: Infinity,
				placeholder: "Project",
				tags: true,
				selectionCssClass: 'custom-standard-select',
				dropdownAutoWidth: true,
				width: "100%",
				sorter: data => data.sort((a, b) => a.text.localeCompare(b.text)),
			});
			$('.basic-multiple-4').select2({
				dropdownParent: $('#basic-multiple-wrp4'),
				minimumResultsForSearch: Infinity,
				placeholder: "Goal",
				tags: true,
				selectionCssClass: 'custom-standard-select',
				dropdownAutoWidth: true,
				width: "100%",
				sorter: data => data.sort((a, b) => a.text.localeCompare(b.text)),
			});
		});
	</script>
	
</body>
</html>